/**
CSS stylesheet for index.
 */

.card-container {
    width: 100%;
    height: 60px;
    border: 1px solid gray;
    transition: width 2s, height 1s;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    color: darkgray;
}

.card-container:hover {
    width: 100%;
    height: 210px;
    color: gray;
}

.abt-div {
    color: darkgray;
    padding: 20px;
    transition: color 1s, padding 1s;
}

.abt-div:hover {
    color: gray;
    border-radius: 5px;
    padding: 10px;
}

.abt-div .photo {
    border-radius: 50%;
    width: 90%;
    transition: width 1s, opacity 1s;
    opacity: 0.8;
}

.abt-div:hover .photo {
    width: 100%;
    opacity: 1;
}

.contact-item {
    color: darkgray;
    transition: color 0.5s;
}

.contact-item:hover {
    color: black;
}

.resume-item {
    color: darkgray;
    transition: color 0.5s;
    padding: 20px;
}

.resume-item:hover {
    color: black;
}

body {
    height: 1300px;
}

.media-body {
    margin-right: 15px;
    color: gray;
}

.portfolio {
    margin-left: 10%;
    margin-right: 10%;
}